:root{
  --ff-serif: "poppins", serif;

  --fw-light: 200; 
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-400: 0.9275rem ;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-900: 2.5rem;

  --clr-neutral-900:hsl(234, 12%, 34%);
  --clr-neutral-400:hsl(229, 6%, 66%);
  --clr-neutral-100:hsl(0, 0%, 98%);

  --clr-cyan: hsl(180, 62%, 55%);
  --clr-red: hsl(0, 78%, 62%);
  --clr-orange:  hsl(34, 97%, 64%);
  --clr-blue:hsl(212, 86%, 64%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
  font-family: var(--ff-serif);
  font-weight: var(--fw-normal);
  line-height: 1.7;
  color: var(--clr-neutral-400);
}
body{
  margin: 0; 
  padding-block-end:5rem;
}
h1,h2,h3{
  line-height:1.2;
  color: var(--clr-neutral-900);
}
.wrapper{
  padding-inline:2rem ;
  max-width:1100px;
  margin-inline: auto;
}
.wrapper--narrow{
  max-width: 550px;
}
header{
  text-align: center;
  margin-block: 6rem;
}
h1{
  font-size: var(--fs-600);
  font-weight: var(--fw-light);
}
h1 span{
  font-weight: var(--fw-bold);
  font-size: var(--fs-900);
}
header p{
  font-size: var(--fs-400);
}
.layout-grid{
  --gap:2rem;
  gap: var(--gap);
  display: grid;
}
@media (min-width:1440px){
  .layout-grid{
    grid-template-columns: 2fr 2fr 2fr;

  }
}

.layout-grid > * {
  flex: 1;
}
.col{
  display:grid;
  align-items: center;
  gap:var(--gap);
}
.card{
  --br: 0.325rem;
  padding: 2rem;
  border-top:var(--br) solid;
  border-radius: var(--br);
 box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 /0.15);
 
}
.card-title{
  font-size: var(--fs-600);
  margin: 0;
}
.card-img{
  display: block;
  margin-left: auto;
  margin-top: 2rem;
}
.border-cyan{
  border-color: var(--clr-cyan);
}
.border-red{
  border-color: var(--clr-red);
}
.border-orange{
  border-color: var(--clr-orange);
}
.border-blue{
  border-color: var(--clr-blue);
}


  